body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(253, 249, 223); /*rgb(255, 252, 235); rgb(32, 29, 33)*/
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#logo {
    color: rgb(255, 252, 235);;
    font-size: 30px;
    line-height: 80px;
    margin: 30px 30px 30px;
    line-height: 80px;
  }
 
  /*#region Navigation*/
  nav {
    background: rgba(29, 26, 30, 0.6); /*rgb(145, 70, 255)*/
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    height: 80px;
    width: 100%;
    color: rgb(255, 252, 235);;
  }
  
  nav ul {
    float: right;
    margin-right: 30px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 15px 15px 30px;
  }
  
  nav ul li a {
    margin-right: 30px;
    color: rgb(255, 252, 235);;
    text-decoration: none;
  }
  
  .menu-bars {
    font-size: 15px;
    color: rgb(255, 252, 235);;
    float: right;
    margin-right: 30px;
    line-height: 80px;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 1000px) {
    .menu-bars {
      display: block;
    }
  
    nav ul {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh;
      text-align: center;
      top: 60px;
      left: -120%;
      transition: all 1s;
    }
  
    nav ul li {
      display: block;
      padding: 30px 0;
    }
  
    nav ul li a {
      font-size: 25px;
      color: rgb(255, 252, 235);;
    }
  
    #check:checked ~ ul {
      left: 0;
    }
  }
  
  #nav-button:hover{
    color: rgb(255, 252, 235);
    text-decoration: underline;
    text-underline-offset: 20%;
  }
  
  #nav-button-index{
    color: black;
    background: rgb(253, 249, 223);
    width: 100px;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
  }
  
  #nav-button-blog{
    color: black;
    background: rgb(253, 249, 223);
    width: 100px;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
  }
  
  #nav-button-data{
    color: black;
    background: rgb(253, 249, 223);
    width: 100px;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
  }
  
  #nav-button-styleg{
    color: black;
    background: rgb(253, 249, 223);
    width: 100px;
    padding: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
  }

  /*#endregion Navigation*/

  /*#region Drop down menu*/
  .dropdown-menu{
    border: 1px solid rgb(169, 112, 255);
    width: 120px;
  }

  .dropdown-menu a{
    display: block;
  }

  .dropdown-button{
    background: white;
    color: rgb(253, 249, 223);
    cursor: pointer;
  }

  .hide{
    display: none;
  }
  /*#endregion Drop down menu*/

  /*#region Footer*/
  footer {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    height: 80px;
    width: 100%;
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  footer h3{
    color: rgb(78, 78, 78);
    font-size: 15px;
    text-align: center;
  }
  
  footer h4{
    color: rgb(78, 78, 78);
    font-size: 15px;
    text-align: center;
  }
  /*#endregion Footer*/
  
  /*#region Headings*/
  
  h1{
    color: rgb(169, 112, 255)
  }
  
  .heading-one{
    color: rgb(169, 112, 255);
    font-size: 35px;
    margin: 90px 200px 20px;
    padding: 20px;
  }

  .heading-one-alt{
    color: rgb(169, 112, 255);
    font-size: 40px;
    margin: 90px 40px 0px;
    padding: 20px;
    text-align: center;
  }
  
  .heading-two{
    color: rgb(169, 112, 255);
    font-size: 25px;
    margin: 30px 200px 20px;
    padding: 20px;
  }

  .heading-two-alt{
    color: rgb(169, 112, 255);
    font-size: 25px;
    margin: 0px;
    padding: 20px;
    text-align: center;
  }
  
  .heading-three{
    color: rgb(169, 112, 255);
    font-size: 21px;
    margin: 0px 220px;
    text-decoration: underline;
  }
  
  .heading-four{
    color: rgb(169, 112, 255);
    font-size: 21px;
    margin: 15px 220px 0px;
  }
  
  @media (max-width: 1000px){
    .heading-one{
      color: rgb(169, 112, 255);
      font-size: 30px;
      margin: 90px 10px 0px;
      padding: 20px;
      text-align: center;
    }
    
    .heading-two{
      color: rgb(169, 112, 255);
      font-size: 25px;
      margin: 0px 10px 0px;
      padding: 20px;
      text-align: center;
    }
    
    .heading-three{
      color: rgb(169, 112, 255);
      font-size: 20px;
      margin: 0px 10px 0px;
      text-decoration: underline;
      text-align: center;
    }
    
    .heading-four{
      color: rgb(169, 112, 255);
      font-size: 20px;
      margin: 15px 10px 0px;
      text-align: center;
    }
  }

  /*#endregion Headings*/

  /*#region Visuals and Hyperlinks*/
  .figure-responsive{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
  }


  .hyperlink{
  color: rgb(169, 112, 255);
  }

  .img-responsive{
  width: 100%;
  height: auto;
  }

  .video-responsive{
  width: 100%;
  height: auto;
  }

/*#endregion Headings*/

  /*#region To Top Button*/
  #totop-button{
    width: 150px;
    margin: 0 45% 10px;
    padding: 15px;
    background: rgb(169, 112, 255);
    color: black;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
  
  #totop-button:hover{
    background-color: rgb(145, 70, 255);
    color: rgb(253, 249, 223);
    text-underline-offset: 20%;
  }
  
  .anchor{
    color: rgb(169, 112, 255);
    text-decoration: none;
  }
  /*#endregion To Top Button*/
  

  /*#region Blogs*/

  .blog-container {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
  
  .blog-section {
    background: rgb(32, 29, 33);
    color: rgb(253, 249, 223);
    font-size: 20px;
    padding: 20px;
    border: rgb(145, 70, 255) 1px solid;
  }
  
  .blog-section:hover {
    background: rgb(32, 29, 33);
    color: rgb(253, 249, 223);
    font-size: 20px;
    padding: 20px;
    border: rgb(145, 70, 255) 1px solid;
    display: inline-block;
    animation: pulse;
    animation-duration: 1s;
  }
  
  .continue{
    color: rgb(169, 112, 255);
  }
  
  .continue:active{
    color: gray;
    animation: animate__backOutUp;
    animation-duration: 1s;
  }
  
  .blog-figure{
    margin: 0px 30% 10px;
  }
  
  @media (max-width: 800px){
    .blog-container {
      max-width: auto;
      margin: 80px auto;
      padding: 30px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 20px;
    }

  }
  
  /*INDIVIDUAL BLOG PAGES AND THEIR ELEMENTS*/
  
  .blog-paragraph{
    color: rgb(32, 29, 33);
    margin: 10px 200px;
    padding: 20px;
    font-size: 21px;
  }
  
  .blog-paragraph-new{
    color: rgbrgb(32, 29, 33);
    margin: 10px 200px;
    padding: 20px;
    font-size: 21px;
    text-decoration: underline;
  }
  
  @media (max-width: 1000px){
    .blog-paragraph{
      color: rgb(32, 29, 33);
      margin: 10px 10px;
      padding: 20px;
      font-size: 21px;
    }
    
    .blog-paragraph-new{
      color: rgb(32, 29, 33);
      margin: 10px 10px;
      padding: 20px;
      font-size: 21px;
      text-decoration: underline;
    }
  }

  /*#endregion Blogs*/

  /*#region Data Visualisation*/

  .datav-container{
    max-width: auto;
    max-height: auto;
    margin: 100px 220px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  
    animation: backInLeft;
    animation-duration: 1s;
  }
  
  @media (max-width: 1250px){
    .datav-container{
      max-width: auto;
      margin: 100px 10px;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 20px;
    }
  }

  /*#endregion Data Visualisation*/

  /*#region Index*/
  
.index-container{
  max-width: auto;
  margin: 80px 300px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;

  animation: backInLeft;
  animation-duration: 1s;
}

@media (max-width: 1250px){
  .index-container{
    max-width: auto;
    margin: 80px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

@media (max-width: 1000px){
  .index-container{
    max-width: auto;
    margin: 80px auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
  }
}

.index-item{
  background: rgb(32, 29, 33);
  color: rgb(253, 249, 223);
  font-size: 20px;
  padding: 30px;
  border: rgb(145, 70, 255) 2px solid;
}

.img-responsive{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

.figure-responsive{
  width: auto;
  height: auto;
  margin: 0px;
  padding: 0px;
}

  /*#endregion Index*/

  /*#region Styleguide*/

  .guide-container {
    max-width: 1400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 0px;
    row-gap: 10px;
  }
  
  .guide-item {
    background: rgb(32, 29, 33); /*rgb(169,112,255);*/
    color: rgb(253, 249, 223);
    font-size: 20px;
    padding: 20px;
    border: rgb(145, 70, 255) 1px solid;
  }
  
  @media (max-width: 1450px){
    .guide-container {
      max-width: auto;
      margin: 80px auto;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      column-gap: 0px;
      row-gap: 10px;
    }
  }
  
  @media (max-width: 1000px){
    .guide-container {
      max-width: auto;
      margin: 80px auto;
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      column-gap: 0px;
      row-gap: 10px;
    }
  }

  /*#endregion Styleguide*/
  